.soundcloud-player {
  display: none;
}

.controls {
  display: flex;
  align-items: center;
}

.control-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #b3c5d7;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
